body {
    background-image: url(../Images/font.jpg);
    background-size: cover;
}

form table {
    float : left;
}

h1 {
    background-color: rgb(167, 167, 167);
    text-align: center;
    text-decoration: underline;
    color: rgb(153, 14, 14);
}

table.noborder {
    position: absolute;
    background-color: lightgrey;
    border: 0px;
    left: 600px;
}

table.border {
    position: absolute;
    left: 50px;
    border: 3px solid black;
    border-collapse: collapse;
    background-color: white;

}

table.border td {
    border: 3px solid black;
    border-collapse: collapse;
    background-color: white;  
}

.center {
    text-align: center;
}

table.center {
    border-spacing: 25px;
    margin: auto;
}

.add_remove{
    cursor: pointer;
}